* {
    color: azure;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:-webkit-scrollbar {
    display: none;
}
  

body {
    background-color: rgb(43, 49, 43);
}

#header {
    font-size:x-large;
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 1em);
    height: 1em;
    padding: 0.5em;
    background-color: darkgreen;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#contacts-holder {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    /* margin-top: 3em; */
    padding: 1em;
    transition: all 1s;
}

@media(min-aspect-ratio: 1/1){
    #contacts-holder {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media(max-aspect-ratio: 1/1){
    #contacts-holder {
        margin-left: 0;
        margin-right: 0;
    }
}

.contact {
    padding: 0.75em;
    border-radius: 3.5em 1em 1em 3.5em;
    overflow: hidden;
    text-overflow: clip;
    width: calc(100% - 2.5em);
    margin-bottom: 1em;
    background-color: #8686865b;
    box-shadow: 2px 2px 10px #111;
    height: 5em;
}

.contact::after {
    overflow: hidden;
    text-overflow: clip;
    content: "";
    clear: both;
    display: table;
}

.contact-avatar {
    float: left;
    height: 5em;
    margin-right: 0.75em;
    aspect-ratio: 1/1;
}

