* {
    color: azure;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all 0.5s;
    opacity: 100%;
}

:-webkit-scrollbar {
    display: none;
}
  

body {
    background-color: rgb(43, 49, 43);
}

#header {
    font-size:x-large;
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 1em);
    height: 1em;
    padding: 0.5em;
    background-color: darkgreen;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#contacts-holder {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    /* margin-top: 3em; */
    padding: 1em;
    transition: all 1s;
}

@media(min-aspect-ratio: 1/1){
    #contacts-holder {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media(max-aspect-ratio: 1/1){
    #contacts-holder {
        margin-left: 0;
        margin-right: 0;
    }
}

.contact {
    padding: 0.75em;
    border-radius: 3.5em 1em 1em 3.5em;
    overflow: hidden;
    text-overflow: clip;
    width: calc(100% - 2.5em);
    margin-bottom: 1em;
    background-color: #8686865b;
    box-shadow: 2px 2px 10px #111;
    height: 5em;
}

.contact::after {
    overflow: hidden;
    text-overflow: clip;
    content: "";
    clear: both;
    display: table;
}

.contact-avatar {
    float: left;
    height: 5em;
    margin-right: 0.75em;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#add-button {
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: darkgreen;
    width: 1em;
    height: 1em;
    padding: 0.75em;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #111;
    transition: all 0.2s;
}

#add-button:active {
    background-color: rgb(49, 204, 49) !important;
    transform: scale(1.2);
}

#add-button:hover { 
    background-color: rgb(0, 146, 0);
}

#add-contact {
    background-color: rgba(0, 0, 0, 0.425);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#form {
    width: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #8686865b;
    border-radius: calc(10vw + 0.5em) calc(10vw + 0.5em) 1.5em 1.5em;
    box-shadow: 2px 2px 15px #000000;
}

input {
    background-color: rgb(43, 49, 43);
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 0.75em;
    box-shadow: inset 0px 0px 10px #181818, 0px 0px 1px #5e5e5e;
    transition: all 0.5s;
    outline: none;
}

input:focus {
    border: none;
    box-shadow: inset 0px 0px 1px #181818, 0px 0px 10px #5e5e5e;
    outline: none;
}

input:is(:-webkit-autofill, :autofill){
    background-color: rgb(43, 49, 43);
}

#confirm-add {
    text-align: center;
    vertical-align: middle;
    border-radius: 1em;
    border: none;
    padding: 0.5em;
    width: calc(100% - 1em);
    outline: none;
    background-color: rgb(5, 158, 0);
    box-shadow: inset 0px 0px 5px #649162, 0px 0px 1px #5e5e5e;
    transition: all 0.5s;
}

#confirm-add:hover {
    background-color: #0abe00;
}

#confirm-add:active {
    background-color: #38e02f;
}

.hidden {
    display: none !important;
}

.delete-ico {
    margin-left: 0.2em;
    float: right;
    height: 1em;
    aspect-ratio: 1/1;
    filter: saturate(30%);
}

.delete-ico:hover {
    filter: saturate(80%);
}

.delete-ico:active {
    filter: saturate(100%) !important;
}

#login-form {
    background-color: #4e3771;
    padding: 1em;
    border-radius: 1.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-btn {
    padding: 0.4em;
    width: calc(100% - 0.8em);
    background-color: #0abe00;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 1em;
    -webkit-box-shadow: inset 0px 0px 19px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: inset 0px 0px 19px 2px rgba(0,0,0,0.27);
    box-shadow: inset 0px 0px 19px 2px rgba(0,0,0,0.27);
    transition: none;
}

.div-btn:hover {
    background-color: #38e02f;
}

.div-btn:active {
    background-color: #649162 !important;
}

#exit {
    transition: all 0.5s;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    width: fit-content;
}

#preview-add {
    width: 20vw;
    height: 20vw;
    clip-path: circle(50%);
    aspect-ratio: 1 / 1;
}

.add-contact-input {
    width: calc(100% - 1em);
}

#cancel-add {
    margin-top: 0.5em;
    text-align: center;
    vertical-align: middle;
    border-radius: 1em;
    border: none;
    padding: 0.5em;
    width: calc(100% - 1em);
    outline: none;
    background-color: rgb(158, 0, 0);
    box-shadow: inset 0px 0px 5px #916262, 0px 0px 1px #5e5e5e;
    transition: all 0.5s;
}

#cancel-add:hover {
    background-color: #be0000;
}

#cancel-add:active {
    background-color: #e02f2f;
}